.poziv-na-suradnju-box
    display: flex
    justify-content: center
    align-items: center
    width: 100vw
    .info-socials
        width: 100vw
        text-align: center
        .info-items
            display: flex
            justify-content: center
            align-items: center
            flex-direction: column
            height: 20vh
        .socials-items
            display: flex
            flex-direction: row
            justify-content: center
            list-style-type: none
            gap: 5%
            img
                height: 10vh
                width: auto
                border-radius: 50%
.ocjena
    display: flex
    justify-content: center
    align-items: center
    margin: 5% 10%
    gap: 5vw
    svg
        scale: 2

.legenda
    text-align: center
    padding-top: 10vh