.poziv-na-suradnju-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.poziv-na-suradnju-box .info-socials {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  color: #fff;
}
.poziv-na-suradnju-box .info-socials h3 {
  font-size: 1.5em;
}
.poziv-na-suradnju-box .info-socials .info-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}
.poziv-na-suradnju-box .info-socials .socials-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  gap: 5%;
  color: #fff;
  transition: all 0.5s;
}
.poziv-na-suradnju-box .info-socials .socials-items img {
  height: 10vh;
  width: auto;
  border-radius: 50%;
  transition: 500ms;
}
.poziv-na-suradnju-box .info-socials .socials-items .facebook-link:hover {
  transform: scale(1.2);
  box-shadow: 5px 5px 20px #0084ff;
}
.poziv-na-suradnju-box .info-socials .socials-items .youtube-link:hover {
  transform: scale(1.2);
  box-shadow: 5px 5px 20px #FF0000;
}
.poziv-na-suradnju-box .info-socials .socials-items .instagram-link:hover {
  transform: scale(1.2);
  box-shadow: 5px 5px 20px #C13584;
}

.ocjena {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.ocjena svg {
  transform: scale(1.5);
  color: yellow;
  margin: 0.5em;
}

.rating-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.rating-form .comment-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.rating-form .legenda {
  text-align: center;
  font-weight: bolder;
}
.rating-form .legenda h2 {
  font-size: 1.5em;
}

#komentar {
  text-align: center;
  border: none;
  background-color: inherit;
  color: white;
}

.rating-form .send-button {
  color: #fffafa;
  background-color: inherit;
  transition: 500ms;
  font-weight: 400;
  font-size: 1rem;
  border: none;
}
.rating-form .send-button:hover {
  transform: scale(0.9);
  cursor: pointer;
}

.submitted {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  animation: 1s ease drop;
}
.submitted img {
  cursor: pointer;
  height: 25vh;
  width: auto;
}

@media screen and (min-width: 530px) {
  .submitted img {
    height: 25vh;
    width: auto;
  }
}
.cookie-modal {
  position: fixed;
  background: linear-gradient(to right bottom, rgba(10, 10, 10, 0.963), rgba(223, 199, 223, 0.942));
  margin: 20px;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 2s;
  animation: fadeIn 0.5s ease-in;
}
.cookie-modal .close-button {
  position: absolute;
  top: 0;
  right: 3%;
  cursor: pointer;
  color: white;
  font-size: 2em;
  height: 10vh;
  background: none;
  border: none;
  cursor: pointer;
}

.cookie-modal-closed {
  display: none;
}
.cookie-modal-closed .close-button {
  display: none;
}

@keyframes drop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}/*# sourceMappingURL=pozivNaSuradnju.css.map */