@import './mixins'
@import './variables'
@import '../Header/header'
@import '../Vilijun/vilijun'
@import '../QuoteGen/quotegen'
@import '../HrvatskaKulturnaPutovnica/hrvatskaKulturnaPutovnica'

*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Roboto', sans-serifs
    a
        text-decoration: none
    