@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background: linear-gradient(to right bottom, rgb(10, 10, 10), #dfc7df);
  width: 100%;
  opacity: 1;
}
header .header-links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}
header .header-links .main-logo {
  margin: 20px;
  height: 7vh;
}
header .header-links .header-social-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 10px;
}
header .header-links .header-social-links .header-social-link {
  margin: 10px;
  height: 5vh;
  transition: all 0.5s;
}
header .header-links .header-social-links .header-social-link:hover {
  transform: scale(0.8);
}
header .header-links .header-social-links .language-picker #language-select {
  background-color: #e419e4;
  margin: 10px;
  padding: 10px;
  color: white;
}
header .main-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  font-weight: bold;
}
header .main-nav #active {
  background-color: #e419e4;
  color: white;
}
header .main-nav .nav-link {
  background-color: #fff;
  color: #e419e4;
  flex-grow: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .main-nav .nav-link:hover {
  background-color: #e419e4;
  color: white;
  transition: 0.5s;
}

.vilijun-box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-weight: bold;
  opacity: 0.9;
}
.vilijun-box .text-box {
  margin: 10px;
  margin-top: 4%;
  letter-spacing: 2px;
  padding: 5%;
  transition: all 1s;
  font-weight: bolder;
  animation: appear 3s ease-in-out infinite;
  animation-fill-mode: backwards;
}
.vilijun-box .text-box h2 {
  font-size: 3em;
  padding-bottom: 10%;
}
.vilijun-box .text-box p {
  font-size: 1.5em;
  padding-bottom: 10%;
}
@keyframes appear {
  0% {
    background-color: rgb(49, 49, 49);
    opacity: 0.9;
  }
  80% {
    background-color: rgb(71, 69, 69);
    opacity: 0.9;
  }
  90% {
    opacity: 0.9;
    background-color: rgb(61, 56, 56);
  }
  100% {
    background-color: rgb(49, 49, 49);
    opacity: 0.9;
  }
}

.quote-boxes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
}
.quote-boxes .quote-img {
  margin-top: 15%;
  border-radius: 25%;
  height: 30vh;
  transition: all 0.5s;
  opacity: 1;
  animation: glow infinite ease-in-out 2s;
}
.quote-boxes .quote-img:hover {
  opacity: 0.9;
  box-shadow: 0px 0px 30px #edf1f1;
  transform: scale(1.1);
}

.modal {
  position: fixed;
  background: linear-gradient(to right bottom, rgba(10, 10, 10, 0.863), rgba(223, 199, 223, 0.842));
  margin: 20px;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 2s;
  animation: fadeIn 0.5s ease-in;
}
.modal .close-button {
  position: absolute;
  top: 0;
  right: 3%;
  cursor: pointer;
  color: white;
  font-size: 2em;
  height: 10vh;
  background: none;
  border: none;
  cursor: pointer;
}

.modal-closed {
  display: none;
}
.modal-closed .close-button {
  display: none;
}

@keyframes fadeIn {
  0% {
    background-color: #e2df36;
    opacity: 0.6;
    transform: scale(0.7);
  }
  80% {
    background-color: rgb(212, 226, 14);
    opacity: 0.7;
    transform: scale(1);
  }
}
@keyframes glow {
  0% {
    box-shadow: 0px 0px 30px #313131;
  }
  20% {
    box-shadow: 0px 0px 30px #edf1f1;
  }
  70% {
    box-shadow: 0px 0px 30px #dfc7df;
  }
  100% {
    box-shadow: 0px 0px 30px #313131;
  }
}
.accordion-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right bottom, rgba(228, 30, 30, 0.9254901961), rgba(233, 217, 233, 0.9607843137), rgba(21, 18, 219, 0.87));
  transition: all 1s;
  color: #fff;
  border-radius: 0 0 20% 20%;
  padding: 20px;
  scroll-behavior: smooth;
}

.accordion {
  padding-bottom: 5%;
}
.accordion .accordion-title {
  text-align: center;
  font-weight: bold;
  font-size: 3em;
}

.accordion-button {
  color: white;
  background: none;
  border: none;
  font-size: 1.4em;
  margin: auto 2.5%;
}
.accordion-button:visited {
  border: none;
}

.accordion-header {
  border-bottom: 1px solid white;
}

.accordion-body {
  margin: 0 2.5%;
}

.kruzna-kreativnost-box {
  margin: 5% 10%;
}
.kruzna-kreativnost-box .kruzna-kreativnost-header {
  font-size: 3em;
  text-align: center;
  font-weight: bold;
}
.kruzna-kreativnost-box .slider-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10%;
  height: 70vh;
  width: 100%;
  background-color: rgba(154, 194, 197, 0.7);
  border-radius: 10vh;
}
.kruzna-kreativnost-box .slider-box .slider-text {
  width: 50%;
  height: 10vh;
  margin-bottom: 10%;
}
.kruzna-kreativnost-box .slider-box .slider {
  width: 50%;
  height: 30%;
}
.kruzna-kreativnost-box .slider-box .slider .slick-arrow {
  scale: 3;
}
.kruzna-kreativnost-box .slider-box .slider .image-holder {
  display: grid;
  place-items: center;
  margin-left: 15vw;
}
.kruzna-kreativnost-box .slider-box .slider .image-holder .slider-img {
  height: 20vh;
  width: 10vw;
}

.poziv-na-suradnju-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 20px;
}
.poziv-na-suradnju-box .info-socials {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  color: #fff;
}
.poziv-na-suradnju-box .info-socials .info-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}
.poziv-na-suradnju-box .info-socials .socials-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  gap: 5%;
  color: #fff;
  transition: all 0.5s;
}
.poziv-na-suradnju-box .info-socials .socials-items img {
  height: 10vh;
  width: auto;
  border-radius: 50%;
  transition: 500ms;
}
.poziv-na-suradnju-box .info-socials .socials-items .facebook-link:hover {
  transform: scale(1.2);
  box-shadow: 5px 5px 20px #0084ff;
}
.poziv-na-suradnju-box .info-socials .socials-items .youtube-link:hover {
  transform: scale(1.2);
  box-shadow: 5px 5px 20px #FF0000;
}
.poziv-na-suradnju-box .info-socials .socials-items .instagram-link:hover {
  transform: scale(1.2);
  box-shadow: 5px 5px 20px #C13584;
}

.ocjena {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.ocjena svg {
  transform: scale(1.5);
  color: yellow;
  margin: 10px;
}

.rating-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.rating-form .comment-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.rating-form .legenda {
  text-align: center;
  font-weight: bolder;
}

#komentar {
  padding: 10px;
  text-align: center;
  border: none;
  background-color: inherit;
}

.rating-form .send-button {
  margin-top: 2px;
  padding: 2px;
  color: #fffafa;
  background-color: inherit;
  transition: 500ms;
  font-weight: 400;
  font-size: 1rem;
  border: none;
}
.rating-form .send-button:hover {
  transform: scale(0.9);
  cursor: pointer;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to right bottom, rgb(10, 10, 10), #dfc7df);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  color: #fff;
  font-weight: 400;
  font-size: 1em;
  padding: 2px;
  opacity: 0.5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
* a {
  text-decoration: none;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}/*# sourceMappingURL=main.css.map */